{% extends "layout.html" %}
{% block flask %}
<img class="size" src="/static/img/Cool_Hip_Flask_Designs_.jpg">
<img class="size" src="/static/img/1406011-01.jpg">
<img class="size" src="/static/img/cool_story_hoe_now_suck_it_again_flask.jpg">
<img class="size" src="/static/img/Flask-Real bad.jpg">
<img class="size" src="/static/img/snoopy_cool_mom_flask.jpg">
<img class="size" src="/static/img/
cool_piano_designs_flask.jpg">
<img class="size" src="/static/img/OTA0QTFCNkUxNTgyRTg1MEUyNDk6OGY4NmIyNDA2NTVkNTkyYzEwOTYyMWU4YmE3ZTAzYzU6Ojo6OjA=.jpeg">


{% endblock %}